<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Jig" value="COM12"/>
		<add key="Master" value="COM12"/>
		<add key="Meter 1" value="COM13"/>
		<add key="Meter 2" value="COM14"/>
		<add key="Timeout" value="5"/>
		<add  key ="meter auth retry" value ="3"/>
		<add key ="tolerance value" value="0.7"/>
		<add key="delay on start" value ="8000"/>
		<add key="delay on jig on" value="15000"/>
		<add key ="normal retry" value ="3"/>
		<add key ="timeout_for_current_voltage_command" value ="5000"/>
		<add key ="file path" value ="C:\\Users\\VaibhavSinghal\\OneDrive - Sinhal Udyog pvt ltd\\Documents\\meter.txt"/>
		<add key ="delay on closing jig" value="3000"/>
		<add key ="phase Current tolerance 5A" value ="0.7"/>
		<add key ="phase Current tolerance 500mA" value ="3"/>
		<add key ="neutral Current tolerance 5A" value ="0.7"/>
		<add key ="neutral Current tolerance 500mA" value ="3"/>
		<add key ="Voltage tolerance" value ="0.5"/>
		<add key ="Voltagetolerance" value ="0.5"/>

		<add key ="phase Pf tolerance 5A" value ="0.7"/>
		<add key ="phase Pf tolerance 500mA" value ="3"/>
		<add key ="neutral Pf tolerance 5A" value ="0.7"/>
		<add key ="neutral Pf tolerance 500mA" value ="3"/>
		
		<add key="delay" value ="3000"/>
	</appSettings>
</configuration>